<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Full Path of the Parcel searchmxd -->
    <add key="FullMXDFilePath" value="C:\GIS_TOA\MXD_arcEngine\ParcelSearch.mxd" />
    <!--Full Path of The Traffic Restriction mxd--><!--
    <add key="FullMXDFilePath_TR" value="C:\GIS_TOA\MXD_arcEngine\TrafficRestriction.mxd" />-->
    <!-- Full Path of the gdb -->
    
    <add key="FullGDBPath" value="G:\GeoDatabase\AmhGIS.gdb" />
    <!--<add key="FullGDBPath" value="C:\GIS_TOA\GDB\test.gdb" />-->
    <!-- Initial Save Directory For Box -->
    <add key="InitialDirectory" value="C:\GIS_TOA\Exports\2015" />
    <!-- Parcel Layer Name -->
    <add key="ParcelLayerName" value="Parcels" />
    <!-- Temp Layer Name -->
    <add key="TempLayerName" value="TempLayer" />
    <!-- Visiable Parcel Layer Name Column name list -->
    <add key="ParcelLayerVisableColumnNames" value="PrintKey, STNUM, STNAME, ParcelAdd, ONAME1" />
    <!--<add key="ClientSettingsProvider.ServiceUri" value="" />-->
  </appSettings>

</configuration>